/* App.css */

* {
  
}

.App {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #000;
  cursor: pointer;
}

.checked, .matched {
  background-color: #fff;
}

.matched {
  background-color: pink;
}
